

.container

  %a.button.btn.btn-large.btn-primary.width_300{:href => "/auth/facebook" } Connect with Facebook
  %hr
  %a.button.btn.btn-large.btn-primary.width_300{:href => "/auth/linkedin" } Connect with LinkedIN
  %hr
  %a.button.btn.btn-large.btn-primary.width_300{:href => "/auth/twitter" } Connect with Twitter
  %hr
  %a.button.btn.btn-large.btn-primary.width_300{:href => "/auth/vkontakte" } Connect with VK
    
/ /container
