!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Bootstrap, from Twitter
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / Le styles
    %link{:href => "assets/css/bootstrap.css", :rel => "stylesheet"}/
    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      
      
      
      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
    %link{:href => "assets/css/bootstrap-responsive.css", :rel => "stylesheet"}/
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="assets/js/html5shiv.js"></script>
    / Fav and touch icons
    %link{:href => "assets/ico/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => "assets/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    %link{:href => "assets/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %link{:href => "assets/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
    %link{:href => "assets/ico/favicon.png", :rel => "shortcut icon"}/
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "#"} RSS DJ
          .nav-collapse.collapse
            %p.navbar-text.pull-right
              Logged in as
              %a.navbar-link{:href => "#"} Username
            %ul.nav
              %li.active
                %a{:href => "#"} Home
              %li
                %a{:href => "#about"} About
              %li
                %a{:href => "#contact"} Contact
          / /.nav-collapse
    .container-fluid
      .row-fluid
        .span3
          .well.sidebar-nav
            %ul.nav.nav-list
              %li.nav-header Sidebar
              %li
                %a{:href => "/main_statistics"} Extract word statistics TOP100, TOP200, TOP500
              %li
                %a{:href => "/word_dynamics"} Word dynamics
              %li
                %a{:href => "/word_hystory"} Point a word for it's history
              %li.nav-header Sidebar
              %li
                %a{:href => "/word_correlation"} Point 2 words for correlation coefficent between them
              %li
                %a{:href => "/word_hystory_top50"} See history of top-50 words
              %li
                %a{:href => "/word_correlation_top50"} See top-50 maximum correlations
              %li
                %a{:href => "/upload_sources"} See the source channels
              %li
                %a{:href => "/upload_filters"} See the word filters (the, a, and, et c.)
              %li
                %a{:href => "/updates"} See the database update date
              %li.nav-header Sidebar
              %li
                %a{:href => "/xls_download"} Export word statistics into Xls
              %li
                %a{:href => "/subscribe_word"} Subscribe and get daily frequency of pointed word
              %li
                %a{:href => "/subscribe_word_correlaton"} Subscribe and get daily frequency of pointed word + correlations
          / /.well
        / /span
        .span9
          .hero-unit
            %h2 Finally, I found that...
            %img{:alt => "", :src => "assets/img/examples/slide-01.jpg"}/
            %p This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
            %p
              %a.btn.btn-primary.btn-large{:href => "#"} Learn more &raquo;
          .row-fluid
            .span4
              %h2 Heading
              %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              %p
                %a.btn{:href => "#"} View details &raquo;
            / /span
            .span4
              %h2 Heading
              %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              %p
                %a.btn{:href => "#"} View details &raquo;
            / /span
            .span4
              %h2 Heading
              %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              %p
                %a.btn{:href => "#"} View details &raquo;
            / /span
          / /row
        / /span
      / /row
      .container
        %form.form-signin
          %h2.form-signin-heading Please sign in
          %input.input-block-level{:placeholder => "Email address", :type => "text"}/
          %input.input-block-level{:placeholder => "Password", :type => "password"}/
          %label.checkbox
            %input{:type => "checkbox", :value => "remember-me"}/
            Remember me
          %button.btn.btn-large.btn-primary{:type => "submit"} Sign in
      / /container
      %hr/
      %footer
        %p &copy; Company 2013
    / /.fluid-container
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{:src => "assets/js/jquery.js"}
    %script{:src => "assets/js/bootstrap-transition.js"}
    %script{:src => "assets/js/bootstrap-alert.js"}
    %script{:src => "assets/js/bootstrap-modal.js"}
    %script{:src => "assets/js/bootstrap-dropdown.js"}
    %script{:src => "assets/js/bootstrap-scrollspy.js"}
    %script{:src => "assets/js/bootstrap-tab.js"}
    %script{:src => "assets/js/bootstrap-tooltip.js"}
    %script{:src => "assets/js/bootstrap-popover.js"}
    %script{:src => "assets/js/bootstrap-button.js"}
    %script{:src => "assets/js/bootstrap-collapse.js"}
    %script{:src => "assets/js/bootstrap-carousel.js"}
    %script{:src => "assets/js/bootstrap-typeahead.js"}
