

.container
  %form.form-signin{:action => "/static_pages/authentification"}
    %button.btn.btn-large.btn-primary.width_300{:type => "submit", :name => "social_network[name]", :value => "Facebook" } Connect with Facebook
    %hr
    %button.btn.btn-large.btn-primary.width_300{:type => "submit", :name => "social_network[name]", :value => "LinkedIN" } Connect with LinkedIN
    %hr
    %button.btn.btn-large.btn-primary.width_300{:type => "submit", :name => "social_network[name]", :value => "Twitter" } Connect with Twitter
    %hr
    %button.btn.btn-large.btn-primary.width_300{:type => "submit", :name => "social_network[name]", :value => "VK" } Connect with VK
/ /container
