%link{:href => "lib/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "lib/css/prettify.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "src/bootstrap-wysihtml5.css", :rel => "stylesheet", :type => "text/css"}/
<%= item.tii %>
%style{:media => "screen", :type => "text/css"}
  \.btn.jumbo {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  \-webkit-border-radius: 6px;
  \-moz-border-radius: 6px;
  border-radius: 6px;
  }
.container
  .hero-unit{:style => "margin-top:40px"}
    %h1{:style => "font-size:58px"}
      bootstrap-wysihtml5
      %small Simple, beautiful wysiwyg editors
    %hr/
    %textarea.textarea{:placeholder => "Enter text ...", :style => "width: 810px; height: 200px"}
  .row
    .span6
      %h2 About
      %p
        bootstrap-wysihtml5 is a javascript plugin that makes it easy to create simple, beautiful wysiwyg editors with the help of
        %a{:href => "https://github.com/xing/wysihtml5"} wysihtml5
        and
        %a{:href => "http://twitter.github.com/bootstrap/"} Twitter Bootstrap
      %p{:style => "text-align:center; margin-top:20px"}
        %a.btn.btn-large.btn-primary.jumbo{:href => "https://github.com/jhollingworth/bootstrap-wysihtml5/"} View project on Github
    .span6
      %h2 Usage
      %p
      %pre.prettyprint.linenums $('.textarea').wysihtml5();
      %h3 Dependencies
      %p
      %ul
        %li
          %a{:href => "https://raw.github.com/jhollingworth/bootstrap-wysihtml5/master/src/bootstrap-wysihtml5.js"} bootstrap-wysihtml5.js
        %li
          %a{:href => "https://raw.github.com/jhollingworth/bootstrap-wysihtml5/master/src/bootstrap-wysihtml5.css"} bootstrap-wysihtml5.css
        %li
          %a{:href => "https://github.com/xing/wysihtml5"} wysihtml5
        %li
          %a{:href => "http://twitter.github.com/bootstrap/"} Twitter Bootstrap
%script{:src => "lib/js/wysihtml5-0.3.0.js"}
%script{:src => "lib/js/jquery-1.7.2.min.js"}
%script{:src => "lib/js/prettify.js"}
%script{:src => "lib/js/bootstrap.min.js"}
%script{:src => "src/bootstrap-wysihtml5.js"}
:javascript
  $('.textarea').wysihtml5();
%script{:charset => "utf-8", :type => "text/javascript"}
  $(prettyPrint);
