!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title bootstrap-wysihtml5
    / wysihtml5 parser rules
    %script{:src => "../assets/wysihtml5/js/advanced.js"}
    / Library
    %script{:src => "../assets/wysihtml5/js/wysihtml5-0.3.0.js"}
  %body
    %form
      %textarea#wysihtml5-textarea{:autofocus => "", :placeholder => "Enter your text ..."}
    #wysihtml5-toolbar{:style => "display: none;"}
      %a{"data-wysihtml5-command" => "bold"} bold
      %a{"data-wysihtml5-command" => "italic"} italic
      / Some wysihtml5 commands require extra parameters
      %a{"data-wysihtml5-command" => "foreColor", "data-wysihtml5-command-value" => "red"} red
      %a{"data-wysihtml5-command" => "foreColor", "data-wysihtml5-command-value" => "green"} green
      %a{"data-wysihtml5-command" => "foreColor", "data-wysihtml5-command-value" => "blue"} blue
      / Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href)
      %a{"data-wysihtml5-command" => "createLink"} insert link
      %div{"data-wysihtml5-dialog" => "createLink", :style => "display: none;"}
        %label
          Link:
          %input.text{"data-wysihtml5-dialog-field" => "href", :value => "http://"}/
        %a{"data-wysihtml5-dialog-action" => "save"} OK
        %a{"data-wysihtml5-dialog-action" => "cancel"} Cancel
    :javascript
      var editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
        toolbar:      "wysihtml5-toolbar", // id of toolbar element
        parserRules:  wysihtml5ParserRules // defined in parser rules set 
      });
