
%li
  %span.content
    = message.sent_at
  %span.content
    - if message.facebook_message
      facebook
    - if message.twitter_message
      twitter
    - if message.twitter_message
      twitter
    - if message.twitter_message
      twitter
  %span.timestamp
    , for long (#{ time_ago_in_words(message.created_at) }) time ago
