
= javascript_include_tag "http://vk.com/js/api/openapi.js"

:javascript
  VK.init({
    apiId: 3756304
  });
  function authInfo(response) {
    if (response.session) {
      alert('user: '+response.session.mid);
    } else {
      alert('not auth');
    }
  }
  function wall_post()
  {
    console.log('wall_post');
     
    var msg = "#{params[:vkontakte_message][:text]}"
    if ( msg.length <=1 ) {
     return
    }
    
    console.log('msg: ' + msg);
    
    VK.Api.call('wall.post', {message: msg}, function(r) {
      if(r.response) {
          alert(r.response);
          console.log("r.response:"+r.response);
      }
    });
  }
  
  wall_post();


%h1 Messages#create
%p Find me in app/views/messages/create.html.haml

%section.container
  .span8
    - if @message.facebook_message
      %h3
        =@message.facebook_message.text
        =@send_results[:facebook]
        
    - if @message.linkedin_message
      %h3
        =@message.linkedin_message.text
        =@send_results[:linkedin]
        
    - if @message.vkontakte_message
      %h3
        =@message.vkontakte_message.text
        =@send_results[:vkontakte]
      
    - if @message.tumblr_message
      %h3
        =@message.tumblr_message.text
        =@send_results[:tumblr]
    
    - if @message.twitter_message
      %h3
        =@message.twitter_message.text
        =@send_results[:twitter]