
%a
  create connection

%p#debug

%script{:src => "http://vkontakte.ru/js/api/openapi.js", :type => "text/javascript"}

#login_button{:onclick => "VK.Auth.login(authInfo);"}

%script{:language => "javascript"}
  VK.init( { apiId: 3756304 } );
  
  function authInfo(response) {
  if (response.session) {
  alert('user: '+response.session.mid);
  } else {
  alert('not auth');
  }
  }
  
  VK.Auth.getLoginStatus(authInfo);
  VK.UI.button('login_button');
  
  function fn_callback(data) { if(data) { alert('Привет, ' + data.response[0]);  } };
  
  VK.api('wall.post', {message: 'mesage'}, fn_callback)
  
  document.getElementById("debug").innerHTML='debug'

%p asdasd









<script type="text/javascript">
  
  function init_okay() {
     // API initialization succeeded
     // Your code here
     
     apiId: 3756304
     
     alert(1);
  };
  
  function init_feil() {
     // API initialization failed
     // Can reload page here
     
     alert(2);
  };
  
  var actual_version = '5.2';
  
  VK.init( init_okay, init_feil, actual_version);
  
  //~ VK.callMethod('wall.post', {message: 'mesage'}, function(r) { alert(r); } )
  
  VK.callMethod("resizeWindow", 510, 600); 
</script>



async

#vk_api_transport
:javascript
  window.vkAsyncInit = function() {
    VK.init({
      apiId: ВАШ_API_ID
    });
  };

  setTimeout(function() {
    var el = document.createElement("script");
    el.type = "text/javascript";
    el.src = "//vk.com/js/api/openapi.js";
    el.async = true;
    document.getElementById("vk_api_transport").appendChild(el);
  }, 0);





window.onload = function()
      {
        VK.init({
          apiId: 3756304
        });
        
        VK.Auth.getLoginStatus(authInfo);
        VK.UI.button('login_button');
        
      }
