%h1 Sessions#new
%p Find me in app/views/sessions/new.html.haml


%p
  #{link_to "login with facebook", "/auth/facebook"}
%p
  #{link_to "login with vkontakte", "/auth/vkontakte"}
%p
  #{link_to "login with twitter", "/auth/twitter"}
%p
  #{link_to "login with linkedin", "/auth/linkedin"}
