---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/me/feed
    body:
      encoding: ASCII-8BIT
      string: message=Message+for+Facebook+2013-08-22+04%3A41%3A42+%2B0000&access_token=CAAHtNEnQEmcBACbxZCVp7AzHEQ2CD3KhEMwwEtBpXgTZCXMy2ZAwZCUZCrfoVztniwUlSSUsdTOZCyDSZC70q4JAycuYlSOea9dvWltBNHFDuEscrAt0Ql3Yv5kZCZApGED0n5anZAZBB65TzXqoyvA3wrk
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"100005133014329_183595218488244"}'
  recorded_at: Thu, 22 Aug 2013 04:41:44 GMT
- request:
    method: post
    uri: https://api.linkedin.com/v1/people/~/shares
    body:
      encoding: UTF-8
      string: '{"visibility":{"code":"anyone"},"comment":"Message for Linkedin 2013-08-22
        04:41:45 +0000"}'
    headers:
      X-Li-Format:
      - json
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_body_hash="5ZlBvyMmwYkdW22EBhhwADC4R8M%3D", oauth_consumer_key="l6on5uqdtfc8",
        oauth_nonce="LgXCdFFBduqctLCMO9mYDj9VJLdN0jqM5lsPIiXz74", oauth_signature="TU2dZGr7eac9p319xRc40X4GecU%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1377146505", oauth_token="2d19df97-5c12-4ed0-80b0-5879109bf6ec",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Li-Request-Id:
      - IIBUL5NNYE
      Location:
      - http://api.linkedin.com/v1/pal/people/~/network/updates/key=UNIU-265952201-5776171102791299072-SHARE
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "updateKey": "UNIU-265952201-5776171102791299072-SHARE",
          "updateUrl": "http://www.linkedin.com/updates?discuss=&scope=265952201&stype=M&topic=5776171102791299072&type=U&a=OHvC"
        }
  recorded_at: Thu, 22 Aug 2013 04:41:47 GMT
- request:
    method: post
    uri: http://api.tumblr.com/v2/blog/vcabba.tumblr.com/post
    body:
      encoding: US-ASCII
      string: body=Message%20for%20Tumblr%202013-08-22%2004%3A41%3A48%20%2B0000&title=message%20from%20Social%20Poster&type=text
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="RTeUQFDPqbrtYPZMgpEkDPxkMAOudz2bJOgo9Mb0Fo2cgf6Mex",
        oauth_nonce="sFGZTX285fnvW8PTIOQNzyYPRxJ3KgyJhs6vVTZ6XE", oauth_signature="%2FLA4Qemuc%2FdFTzzeksxEV067PgA%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1377146508", oauth_token="hvI02kG7pRfjVzXtA5oEgD3BVnYIdOki5qcvafv44sZHyLtDmV",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"status":201,"msg":"Created"},"response":{"id":58983219805}}'
  recorded_at: Thu, 22 Aug 2013 04:41:49 GMT
- request:
    method: post
    uri: http://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: US-ASCII
      string: status=Message%20for%20Twitter%202013-08-22%2004%3A41%3A50%20%2B0000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="78Xe54R18Dx0xjehhGOAw", oauth_nonce="xFif1oHGUKBtez0vv9XvMEXnQa3d6rQuMvjiNcsm4",
        oauth_signature="6b0wDcnrsMkJEuvjd7J%2BDUVwFSo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1377146510", oauth_token="1497573638-k31hUR783ken3ntgBvhY6zgrjXpBjBzLrjPcgIL",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 22 Aug 2013 04:41:51 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Transaction:
      - e13b4a9f777a686b
    body:
      encoding: UTF-8
      string: '{"created_at":"Thu Aug 22 04:41:51 +0000 2013","id":370405430901899264,"id_str":"370405430901899264","text":"Message
        for Twitter 2013-08-22 04:41:50 +0000","source":"\u003ca href=\"http:\/\/rsshh-vcabba.rhcloud.com\/static_pages\/authorization_enter_pin\"
        rel=\"nofollow\"\u003evcabba_RailsOAuth\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1497573638,"id_str":"1497573638","name":"Savva","screen_name":"_vcabba","location":"","description":"It
        begins long time ago.. Omsk, Syberia, since 1985.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":2,"listed_count":0,"created_at":"Mon
        Jun 10 07:01:23 +0000 2013","favourites_count":0,"utc_offset":25200,"time_zone":"Bangkok","geo_enabled":false,"verified":false,"statuses_count":14,"lang":"en","contributors_enabled":false,"is_translator":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/a0.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/si0.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/378800000102548180\/9727c54502bb1c329ca73bba0e9d6599_normal.png","profile_image_url_https":"https:\/\/si0.twimg.com\/profile_images\/378800000102548180\/9727c54502bb1c329ca73bba0e9d6599_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1497573638\/1375073206","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[]},"favorited":false,"retweeted":false,"lang":"da"}'
  recorded_at: Thu, 22 Aug 2013 04:41:51 GMT
recorded_with: VCR 2.5.0
