---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/me/feed
    body:
      encoding: ASCII-8BIT
      string: message=Message+for+Facebook+2013-08-17+10%3A23%3A32+%2B0000&access_token=CAAHtNEnQEmcBACbxZCVp7AzHEQ2CD3KhEMwwEtBpXgTZCXMy2ZAwZCUZCrfoVztniwUlSSUsdTOZCyDSZC70q4JAycuYlSOea9dvWltBNHFDuEscrAt0Ql3Yv5kZCZApGED0n5anZAZBB65TzXqoyvA3wrk
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"100005133014329_182286101952489"}'
  recorded_at: Sat, 17 Aug 2013 10:23:33 GMT
- request:
    method: post
    uri: https://api.linkedin.com/v1/people/~/shares
    body:
      encoding: UTF-8
      string: '{"visibility":{"code":"anyone"},"comment":"Message for Linkedin 2013-08-17
        10:23:34 +0000"}'
    headers:
      X-Li-Format:
      - json
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_body_hash="EtHxALxKG%2B0jqyzPAMja76ks1ak%3D", oauth_consumer_key="l6on5uqdtfc8",
        oauth_nonce="nqy7Udkfag2yxOu8QCOGGfgIEtpYbKigDH9t6dkds", oauth_signature="w%2BRDqprGG6%2FlEIzPwpsAdbbolxw%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376735014", oauth_token="2d19df97-5c12-4ed0-80b0-5879109bf6ec",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Li-Request-Id:
      - CH09LKM9EX
      Location:
      - http://api.linkedin.com/v1/pal/people/~/network/updates/key=UNIU-265952201-5774445135978848256-SHARE
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "updateKey": "UNIU-265952201-5774445135978848256-SHARE",
          "updateUrl": "http://www.linkedin.com/updates?discuss=&scope=265952201&stype=M&topic=5774445135978848256&type=U&a=VmKW"
        }
  recorded_at: Sat, 17 Aug 2013 10:23:36 GMT
- request:
    method: post
    uri: http://api.tumblr.com/v2/blog/vcabba.tumblr.com/post
    body:
      encoding: US-ASCII
      string: body=Message%20for%20Tumblr%202013-08-17%2010%3A23%3A37%20%2B0000&title=message%20from%20Social%20Poster&type=text
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="RTeUQFDPqbrtYPZMgpEkDPxkMAOudz2bJOgo9Mb0Fo2cgf6Mex",
        oauth_nonce="p6Klhu30yUI9YR1ui6LZbqB3K0gOn1nDXnXsuu0OA", oauth_signature="eDYmoSzNLcrUgS9ChIHoL%2BUuq9c%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376735017", oauth_token="hvI02kG7pRfjVzXtA5oEgD3BVnYIdOki5qcvafv44sZHyLtDmV",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"status":201,"msg":"Created"},"response":{"id":58499116487}}'
  recorded_at: Sat, 17 Aug 2013 10:23:38 GMT
- request:
    method: post
    uri: http://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: US-ASCII
      string: status=Message%20for%20Twitter%202013-08-17%2010%3A23%3A39%20%2B0000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="78Xe54R18Dx0xjehhGOAw", oauth_nonce="yEbD11AgtC0xzt56wcPZItB76PQUhAH01n5X51akYs",
        oauth_signature="f5axZ1HuNCGIEBs7DObbJa2J41I%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1376735019", oauth_token="1497573638-k31hUR783ken3ntgBvhY6zgrjXpBjBzLrjPcgIL",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3d1677ae02599def9bae86ad448e4d74"'
      Last-Modified:
      - Sat, 17 Aug 2013 10:23:28 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Mid:
      - 16d3c0e4a439da9333237c0d2b8575ddb6c6b3c9
      X-Transaction:
      - ceb45b99ffa956ca
      X-Transaction-Mask:
      - a6183ffa5f8ca943ff1b53b5644ef11414d10945
    body:
      encoding: UTF-8
      string: '{"place":null,"in_reply_to_status_id_str":null,"contributors":null,"coordinates":null,"user":{"url":null,"contributors_enabled":false,"name":"Savva","location":null,"profile_background_tile":false,"profile_sidebar_fill_color":"DDEEF6","default_profile_image":false,"id":1497573638,"entities":{"description":{"urls":[]}},"is_translator":false,"followers_count":0,"time_zone":"Bangkok","favourites_count":0,"profile_background_color":"C0DEED","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1497573638\/1375073206","statuses_count":13,"lang":"en","utc_offset":25200,"friends_count":2,"profile_background_image_url":"http:\/\/a0.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/twimg0-a.akamaihd.net\/images\/themes\/theme1\/bg.png","geo_enabled":false,"profile_link_color":"0084B4","default_profile":true,"follow_request_sent":false,"created_at":"Mon
        Jun 10 07:01:23 +0000 2013","protected":false,"id_str":"1497573638","description":"It
        begins long time ago.. Omsk, Syberia, since 1985.","profile_use_background_image":true,"profile_text_color":"333333","profile_image_url_https":"https:\/\/twimg0-a.akamaihd.net\/profile_images\/378800000102548180\/9727c54502bb1c329ca73bba0e9d6599_normal.png","following":false,"listed_count":0,"notifications":false,"verified":false,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/378800000102548180\/9727c54502bb1c329ca73bba0e9d6599_normal.png","screen_name":"_vcabba","profile_sidebar_border_color":"C0DEED"},"retweeted":false,"id_str":"368679463531188224","in_reply_to_user_id_str":null,"in_reply_to_status_id":null,"source":"\u003Ca
        href=\"http:\/\/rsshh-vcabba.rhcloud.com\/static_pages\/authorization_enter_pin\"
        rel=\"nofollow\"\u003Evcabba_RailsOAuth\u003C\/a\u003E","in_reply_to_screen_name":null,"id":368679463531188224,"favorited":false,"truncated":false,"geo":null,"text":"Message
        for Twitter 2013-08-17 10:23:39 +0000","created_at":"Sat Aug 17 10:23:28 +0000
        2013","in_reply_to_user_id":null,"entities":{"user_mentions":[],"hashtags":[],"urls":[]},"retweet_count":0}'
  recorded_at: Sat, 17 Aug 2013 10:23:40 GMT
recorded_with: VCR 2.5.0
