---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/me/feed
    body:
      encoding: UTF-8
      string: message=Message+for+Facebook+2013-08-11+14%3A33%3A00+%2B0000&name=feed_name&access_token=CAAHtNEnQEmcBACbxZCVp7AzHEQ2CD3KhEMwwEtBpXgTZCXMy2ZAwZCUZCrfoVztniwUlSSUsdTOZCyDSZC70q4JAycuYlSOea9dvWltBNHFDuEscrAt0Ql3Yv5kZCZApGED0n5anZAZBB65TzXqoyvA3wrk
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"100005133014329_180718975442535"}'
  recorded_at: Sun, 11 Aug 2013 14:33:02 GMT
- request:
    method: get
    uri: https://api.linkedin.com/v1/people/~
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
      Authorization:
      - OAuth oauth_consumer_key="l6on5uqdtfc8", oauth_nonce="ZcWCF02FJR8aoZxcqOCAPuZAeil7UZPLP4DuQcG7ns",
        oauth_signature="ivKAKCjqz03gsNGhTsXof17mFTw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1376231583", oauth_token="2d19df97-5c12-4ed0-80b0-5879109bf6ec",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Li-Request-Id:
      - OCYEQLL15K
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "firstName": "Savva",
          "headline": "freelance",
          "lastName": "Voloshin",
          "siteStandardProfileRequest": {"url": "http://www.linkedin.com/profile/view?id=265952201&authType=name&authToken=lr_9&trk=api*a294570*s302134*"}
        }
  recorded_at: Sun, 11 Aug 2013 14:33:04 GMT
- request:
    method: post
    uri: https://api.linkedin.com/v1/people/~/shares
    body:
      encoding: UTF-8
      string: '{"visibility":{"code":"anyone"},"comment":"Message for Linkedin 2013-08-11
        14:33:03 +0000"}'
    headers:
      X-Li-Format:
      - json
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_body_hash="9%2FnXNC%2BWN2GlRT679DDf9SLeaio%3D", oauth_consumer_key="l6on5uqdtfc8",
        oauth_nonce="8qsR4ZCrK3w8E7e5jWeqz9rdRTLFyQEcsHrBayM", oauth_signature="6j%2FcZulglilSRYwsvLFUPK5%2Fc94%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376231584", oauth_token="2d19df97-5c12-4ed0-80b0-5879109bf6ec",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Li-Request-Id:
      - T0H344K0UR
      Location:
      - http://api.linkedin.com/v1/pal/people/~/network/updates/key=UNIU-265952201-5772333680647225344-SHARE
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "updateKey": "UNIU-265952201-5772333680647225344-SHARE",
          "updateUrl": "http://www.linkedin.com/updates?discuss=&scope=265952201&stype=M&topic=5772333680647225344&type=U&a=uyW8"
        }
  recorded_at: Sun, 11 Aug 2013 14:33:05 GMT
- request:
    method: post
    uri: http://api.tumblr.com/v2/blog/uid.tumblr.com/post
    body:
      encoding: US-ASCII
      string: body=Message%20for%20Tumblr%202013-08-11%2014%3A33%3A06%20%2B0000&title=message%20from%20Social%20Poster&type=text
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="RTeUQFDPqbrtYPZMgpEkDPxkMAOudz2bJOgo9Mb0Fo2cgf6Mex",
        oauth_nonce="fGiQvNvRivx1XMSFNrKpCYA25KiZBUuODR4oFLDETY", oauth_signature="NKQaVe9nErWyictJpTpAtbp%2Fvkk%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376231586", oauth_token="token",
        oauth_version="1.0"
  response:
    status:
      code: 401
      message: Not Authorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"status":401,"msg":"Not Authorized"},"response":[]}'
  recorded_at: Sun, 11 Aug 2013 14:33:06 GMT
- request:
    method: post
    uri: http://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: US-ASCII
      string: status=Message%20for%20Twitter%202013-08-11%2014%3A33%3A07%20%2B0000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="78Xe54R18Dx0xjehhGOAw", oauth_nonce="AkR3VVbeSUVFEWPkwKH5eVOXUB49uEA4TU4a6eEKg",
        oauth_signature="BYaCmfBu1QoLdGHbXxqax3ciqZI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1376231587", oauth_token="1497573638-k31hUR783ken3ntgBvhY6zgrjXpBjBzLrjPcgIL",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0927f5cef21c6c43c8ba9f0e84486a28"'
      Last-Modified:
      - Sun, 11 Aug 2013 14:33:16 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Mid:
      - f9311ed0585079caae5c8f8d57d3d2ae93415d13
      X-Transaction:
      - fcd2c5a52f3814cb
      X-Transaction-Mask:
      - a6183ffa5f8ca943ff1b53b5644ef114012de4a1
    body:
      encoding: UTF-8
      string: '{"in_reply_to_user_id_str":null,"place":null,"retweeted":false,"user":{"profile_image_url_https":"https:\/\/twimg0-a.akamaihd.net\/profile_images\/378800000102548180\/9727c54502bb1c329ca73bba0e9d6599_normal.png","friends_count":2,"id_str":"1497573638","name":"Savva","profile_background_image_url_https":"https:\/\/twimg0-a.akamaihd.net\/images\/themes\/theme1\/bg.png","screen_name":"_vcabba","default_profile":true,"profile_use_background_image":true,"url":null,"is_translator":false,"profile_text_color":"333333","notifications":false,"location":null,"id":1497573638,"entities":{"description":{"urls":[]}},"statuses_count":8,"geo_enabled":false,"profile_sidebar_border_color":"C0DEED","listed_count":0,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/378800000102548180\/9727c54502bb1c329ca73bba0e9d6599_normal.png","lang":"en","utc_offset":25200,"profile_background_tile":false,"profile_sidebar_fill_color":"DDEEF6","protected":false,"default_profile_image":false,"description":"It
        begins long time ago.. Omsk, Syberia, since 1985.","contributors_enabled":false,"verified":false,"created_at":"Mon
        Jun 10 07:01:23 +0000 2013","profile_background_color":"C0DEED","favourites_count":0,"followers_count":0,"following":false,"profile_background_image_url":"http:\/\/a0.twimg.com\/images\/themes\/theme1\/bg.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1497573638\/1375073206","time_zone":"Bangkok","follow_request_sent":false,"profile_link_color":"0084B4"},"truncated":false,"in_reply_to_status_id":null,"geo":null,"in_reply_to_screen_name":null,"source":"\u003Ca
        href=\"http:\/\/rsshh-vcabba.rhcloud.com\/static_pages\/authorization_enter_pin\"
        rel=\"nofollow\"\u003Evcabba_RailsOAuth\u003C\/a\u003E","favorited":false,"id":366568001190887425,"created_at":"Sun
        Aug 11 14:33:16 +0000 2013","coordinates":null,"id_str":"366568001190887425","in_reply_to_user_id":null,"text":"Message
        for Twitter 2013-08-11 14:33:07 +0000","in_reply_to_status_id_str":null,"retweet_count":0,"entities":{"hashtags":[],"urls":[],"user_mentions":[]},"contributors":null}'
  recorded_at: Sun, 11 Aug 2013 14:33:08 GMT
- request:
    method: post
    uri: http://api.tumblr.com/v2/blog/vcabba.tumblr.com/post
    body:
      encoding: US-ASCII
      string: body=Message%20for%20Tumblr%202013-08-11%2014%3A44%3A19%20%2B0000&title=message%20from%20Social%20Poster&type=text
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="RTeUQFDPqbrtYPZMgpEkDPxkMAOudz2bJOgo9Mb0Fo2cgf6Mex",
        oauth_nonce="HcY3kO4WV8cNpQhEA0gYgIUOvezUfG0BTSWtyT810mc", oauth_signature="NI5HvSUvgUqXAz16xP8b5z7Wa18%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376232259", oauth_token="hvI02kG7pRfjVzXtA5oEgD3BVnYIdOki5qcvafv44sZHyLtDmV",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"status":201,"msg":"Created"},"response":{"id":57968029599}}'
  recorded_at: Sun, 11 Aug 2013 14:44:20 GMT
recorded_with: VCR 2.5.0
