
%h1 users index page

%p
  #{link_to "signin facebook", "/auth/facebook"}
%p
  #{link_to "signin vkontakte", "/auth/vkontakte"}
%p
  #{link_to "signin twitter", "/auth/twitter"}
%p
  #{link_to "signin linkedin", "/auth/linkedin"}
