---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/me/feed
    body:
      encoding: UTF-8
      string: message=Message+for+Facebook+2013-08-09+10%3A22%3A14+%2B0000&name=feed_name&access_token=CAAHtNEnQEmcBACbxZCVp7AzHEQ2CD3KhEMwwEtBpXgTZCXMy2ZAwZCUZCrfoVztniwUlSSUsdTOZCyDSZC70q4JAycuYlSOea9dvWltBNHFDuEscrAt0Ql3Yv5kZCZApGED0n5anZAZBB65TzXqoyvA3wrk
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"100005133014329_179975622183537"}'
  recorded_at: Fri, 09 Aug 2013 10:22:17 GMT
- request:
    method: get
    uri: https://api.linkedin.com/v1/people/~
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
      Authorization:
      - OAuth oauth_consumer_key="l6on5uqdtfc8", oauth_nonce="mFsiYlfab72Irul4NphPwQ1JG0nbkXpWYdaRWaFJ5CY",
        oauth_signature="WCvexrY5edBtPrYidec0nUgXvQM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1376043737", oauth_token="2d19df97-5c12-4ed0-80b0-5879109bf6ec",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Li-Request-Id:
      - DQ9W4T0CPC
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "firstName": "Savva",
          "headline": "freelance",
          "lastName": "Voloshin",
          "siteStandardProfileRequest": {"url": "http://www.linkedin.com/profile/view?id=265952201&authType=name&authToken=lr_9&trk=api*a294570*s302134*"}
        }
  recorded_at: Fri, 09 Aug 2013 10:22:18 GMT
- request:
    method: post
    uri: https://api.linkedin.com/v1/people/~/shares
    body:
      encoding: UTF-8
      string: '{"visibility":{"code":"anyone"},"comment":"Message for Linkedin 2013-08-09
        10:22:17 +0000"}'
    headers:
      X-Li-Format:
      - json
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_body_hash="N8iPHtfFsmMdE9Yci8h5tKEWLdk%3D", oauth_consumer_key="l6on5uqdtfc8",
        oauth_nonce="dqkdR6Hvpy2YpMDmd1liEJsNH5RfwBmPKxLFsmEZZo", oauth_signature="YBVXccMqkVrVpcsM5E0THFTZ67c%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376043738", oauth_token="2d19df97-5c12-4ed0-80b0-5879109bf6ec",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Li-Request-Id:
      - 7JZQ3KV1O9
      Location:
      - http://api.linkedin.com/v1/pal/people/~/network/updates/key=UNIU-265952201-5771545775163056129-SHARE
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "updateKey": "UNIU-265952201-5771545775163056129-SHARE",
          "updateUrl": "http://www.linkedin.com/updates?discuss=&scope=265952201&stype=M&topic=5771545775163056129&type=U&a=mj6S"
        }
  recorded_at: Fri, 09 Aug 2013 10:22:19 GMT
- request:
    method: post
    uri: http://api.tumblr.com/v2/blog/uid.tumblr.com/post
    body:
      encoding: US-ASCII
      string: body=body&title=title&type=text
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="RTeUQFDPqbrtYPZMgpEkDPxkMAOudz2bJOgo9Mb0Fo2cgf6Mex",
        oauth_nonce="7Tl8d23m7oHGKgHkuPy3xO3gAYuJ1CfDI1tKU4Nlgo", oauth_signature="dZSkrvEARhAldqOXMlGq4dtX4v4%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376043740", oauth_token="token",
        oauth_version="1.0"
  response:
    status:
      code: 401
      message: Not Authorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"status":401,"msg":"Not Authorized"},"response":[]}'
  recorded_at: Fri, 09 Aug 2013 10:22:20 GMT
- request:
    method: post
    uri: http://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: US-ASCII
      string: status=Message%20for%20Twitter%202013-08-09%2010%3A22%3A21%20%2B0000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="78Xe54R18Dx0xjehhGOAw", oauth_nonce="GlFw2xjDLGExcuheIJRLiuu76J1sgHAevj34Cxk2qOM",
        oauth_signature="tF%2Ft5LrgZxyaZMy6mEJ8tlsTec4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1376043741", oauth_token="1497573638-k31hUR783ken3ntgBvhY6zgrjXpBjBzLrjPcgIL",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 09 Aug 2013 10:22:24 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Transaction:
      - 5fa52a30054d74cd
    body:
      encoding: UTF-8
      string: '{"created_at":"Fri Aug 09 10:22:24 +0000 2013","id":365780093702254592,"id_str":"365780093702254592","text":"Message
        for Twitter 2013-08-09 10:22:21 +0000","source":"\u003ca href=\"http:\/\/rsshh-vcabba.rhcloud.com\/static_pages\/authorization_enter_pin\"
        rel=\"nofollow\"\u003evcabba_RailsOAuth\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1497573638,"id_str":"1497573638","name":"Savva","screen_name":"_vcabba","location":"","description":"It
        begins long time ago.. Omsk, Syberia, since 1985.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":2,"listed_count":0,"created_at":"Mon
        Jun 10 07:01:23 +0000 2013","favourites_count":0,"utc_offset":25200,"time_zone":"Bangkok","geo_enabled":false,"verified":false,"statuses_count":7,"lang":"en","contributors_enabled":false,"is_translator":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/a0.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/si0.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/378800000102548180\/9727c54502bb1c329ca73bba0e9d6599_normal.png","profile_image_url_https":"https:\/\/si0.twimg.com\/profile_images\/378800000102548180\/9727c54502bb1c329ca73bba0e9d6599_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1497573638\/1375073206","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[]},"favorited":false,"retweeted":false,"lang":"da"}'
  recorded_at: Fri, 09 Aug 2013 10:22:21 GMT
recorded_with: VCR 2.5.0
