---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/people/~
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
      Authorization:
      - OAuth oauth_consumer_key="l6on5uqdtfc8", oauth_nonce="BEQIQbYJ1uEltTiEBh8o6iBFMH1HxPNiRlxMqDMk",
        oauth_signature="mNCpvadKVbVtZCr9c9%2BoY4eXGLM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1375984059", oauth_token="2d19df97-5c12-4ed0-80b0-5879109bf6ec",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Li-Request-Id:
      - YUKAKHTJYO
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "firstName": "Savva",
          "headline": "freelance",
          "lastName": "Voloshin",
          "siteStandardProfileRequest": {"url": "http://www.linkedin.com/profile/view?id=265952201&authType=name&authToken=lr_9&trk=api*a294570*s302134*"}
        }
  recorded_at: Thu, 08 Aug 2013 17:47:40 GMT
- request:
    method: post
    uri: https://api.linkedin.com/v1/people/~/shares
    body:
      encoding: UTF-8
      string: '{"visibility":{"code":"anyone"},"comment":"Message for Linkedin 2013-08-08
        17:47:39 +0000"}'
    headers:
      X-Li-Format:
      - json
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_body_hash="6eK1qdl6XrLknzrH4ZNi5yHOZVs%3D", oauth_consumer_key="l6on5uqdtfc8",
        oauth_nonce="ugWTeRDA4bRqA9wMMAvrl43km0z8BAGxfCYs7rDs", oauth_signature="UoXGV14sVBGMgcFEkHR16huU1GE%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1375984060", oauth_token="2d19df97-5c12-4ed0-80b0-5879109bf6ec",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Li-Request-Id:
      - B5VRGOKUG7
      Location:
      - http://api.linkedin.com/v1/pal/people/~/network/updates/key=UNIU-265952201-5771295478062800896-SHARE
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "updateKey": "UNIU-265952201-5771295478062800896-SHARE",
          "updateUrl": "http://www.linkedin.com/updates?discuss=&scope=265952201&stype=M&topic=5771295478062800896&type=U&a=tp9o"
        }
  recorded_at: Thu, 08 Aug 2013 17:47:42 GMT
- request:
    method: post
    uri: https://graph.facebook.com/me/feed
    body:
      encoding: UTF-8
      string: message=Message+for+Facebook+2013-08-09+07%3A26%3A10+%2B0000&name=feed_name&access_token=CAAHtNEnQEmcBACbxZCVp7AzHEQ2CD3KhEMwwEtBpXgTZCXMy2ZAwZCUZCrfoVztniwUlSSUsdTOZCyDSZC70q4JAycuYlSOea9dvWltBNHFDuEscrAt0Ql3Yv5kZCZApGED0n5anZAZBB65TzXqoyvA3wrk
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"100005133014329_179906795523753"}'
  recorded_at: Fri, 09 Aug 2013 07:26:12 GMT
- request:
    method: post
    uri: http://api.tumblr.com/v2/blog/uid.tumblr.com/post
    body:
      encoding: US-ASCII
      string: body=body&title=title&type=text
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="RTeUQFDPqbrtYPZMgpEkDPxkMAOudz2bJOgo9Mb0Fo2cgf6Mex",
        oauth_nonce="KYS5r4MpSlpiEumWVCIXvrtNA7NcbcN83ToPzKbdhqQ", oauth_signature="Vwmze%2BAxvRcOVGOYDB2UNAIvf7s%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1376033175", oauth_token="token",
        oauth_version="1.0"
  response:
    status:
      code: 401
      message: Not Authorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"status":401,"msg":"Not Authorized"},"response":[]}'
  recorded_at: Fri, 09 Aug 2013 07:26:16 GMT
- request:
    method: post
    uri: http://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: US-ASCII
      string: status=Message%20for%20Twitter%202013-08-09%2007%3A40%3A40%20%2B0000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="78Xe54R18Dx0xjehhGOAw", oauth_nonce="VpQWMzwolzTYq1VDf7lOxLwjmVm4IvMtKSB1n1I",
        oauth_signature="rLEOA0GwroHxwSkuTnQH7PayV6E%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1376034040", oauth_token="1497573638-k31hUR783ken3ntgBvhY6zgrjXpBjBzLrjPcgIL",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0e50b0ff7e21edbcd5b085c83c9c6f5e"'
      Last-Modified:
      - Fri, 09 Aug 2013 07:40:43 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Mid:
      - 72e1e36516cff533cd94ffe91f6b7dd82a87fe37
      X-Transaction:
      - 4fc7a299c0f03be8
      X-Transaction-Mask:
      - a6183ffa5f8ca943ff1b53b5644ef11468b31e97
    body:
      encoding: UTF-8
      string: '{"place":null,"coordinates":null,"user":{"profile_sidebar_border_color":"C0DEED","name":"Savva","listed_count":0,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/378800000102548180\/9727c54502bb1c329ca73bba0e9d6599_normal.png","is_translator":false,"profile_background_tile":false,"statuses_count":6,"id":1497573638,"profile_sidebar_fill_color":"DDEEF6","entities":{"description":{"urls":[]}},"verified":false,"created_at":"Mon
        Jun 10 07:01:23 +0000 2013","contributors_enabled":false,"default_profile_image":false,"profile_background_color":"C0DEED","lang":"en","favourites_count":0,"utc_offset":25200,"followers_count":0,"profile_background_image_url":"http:\/\/a0.twimg.com\/images\/themes\/theme1\/bg.png","profile_link_color":"0084B4","protected":false,"time_zone":"Bangkok","follow_request_sent":false,"profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1497573638\/1375073206","description":"It
        begins long time ago.. Omsk, Syberia, since 1985.","screen_name":"_vcabba","id_str":"1497573638","friends_count":2,"url":null,"profile_background_image_url_https":"https:\/\/twimg0-a.akamaihd.net\/images\/themes\/theme1\/bg.png","profile_use_background_image":true,"profile_image_url_https":"https:\/\/twimg0-a.akamaihd.net\/profile_images\/378800000102548180\/9727c54502bb1c329ca73bba0e9d6599_normal.png","notifications":false,"default_profile":true,"profile_text_color":"333333","following":false,"location":null,"geo_enabled":false},"in_reply_to_user_id":null,"id_str":"365739404670672896","retweet_count":0,"source":"\u003Ca
        href=\"http:\/\/rsshh-vcabba.rhcloud.com\/static_pages\/authorization_enter_pin\"
        rel=\"nofollow\"\u003Evcabba_RailsOAuth\u003C\/a\u003E","contributors":null,"retweeted":false,"id":365739404670672896,"in_reply_to_status_id_str":null,"in_reply_to_status_id":null,"truncated":false,"geo":null,"in_reply_to_screen_name":null,"text":"Message
        for Twitter 2013-08-09 07:40:40 +0000","in_reply_to_user_id_str":null,"entities":{"hashtags":[],"urls":[],"user_mentions":[]},"favorited":false,"created_at":"Fri
        Aug 09 07:40:43 +0000 2013"}'
  recorded_at: Fri, 09 Aug 2013 07:40:41 GMT
recorded_with: VCR 2.5.0
