
- content_for :head do

  %title post to facebook
  


.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "#"} Social Poster
      .nav-collapse.collapse
        %p.navbar-text.pull-right
          / Logged in as
          %a.navbar-link{:href => "/signout"} Signout
        %ul.nav
          %li.active
            %a{:href => "#"} Home
          %li
            %a{:href => "#about"} About
          %li
            %a{:href => "#contact"} Contact
      / /.nav-collapse

%br

.container.width_500
  
  %p
    - @authorized_with.each do |provider|
      = provider
      %br
  %p
    session[:provider]:
    = session[:provider]
  %p
    selected_provider:
    = @selected_provider
  
  / TODO: remove ugly "case"
  
  - if @selected_provider == 'facebook'
    %ul.nav.nav-tabs
      %li.active
        %a{:href => "/contact/facebook"} Facebook
      %li
        %a{:href => "/contact/linkedin"} LinkedIN
      %li
        %a{:href => "/contact/twitter"} Twitter
      %li
        %a{:href => "/contact/vkontakte"} VKontakte
  
  - if @selected_provider == 'twitter'
    %ul.nav.nav-tabs
      %li
        %a{:href => "/contact/facebook"} Facebook
      %li
        %a{:href => "/contact/linkedin"} LinkedIN
      %li.active
        %a{:href => "/contact/twitter"} Twitter
      %li
        %a{:href => "/contact/vkontakte"} VKontakte
  
  - if @selected_provider == 'linkedin'
    %ul.nav.nav-tabs
      %li
        %a{:href => "/contact/facebook"} Facebook
      %li.active
        %a{:href => "/contact/linkedin"} LinkedIN
      %li
        %a{:href => "/contact/twitter"} Twitter
      %li
        %a{:href => "/contact/vkontakte"} VKontakte
  
  - if @selected_provider == 'vkontakte'
    %ul.nav.nav-tabs
      %li
        %a{:href => "/contact/facebook"} Facebook
      %li
        %a{:href => "/contact/linkedin"} LinkedIN
      %li
        %a{:href => "/contact/twitter"} Twitter
      %li.active
        %a{:href => "/contact/vkontakte"} VKontakte
  
  %textarea.textarea#textarea{:placeholder => "Enter text ...", :style => "width: 500px; height: 200px"}
  %br
  
  = button_to('Send', { :controller => 'contact', :action => "create", :message => @message, :provider => @selected_provider}, :class => 'btn btn-large btn-primary jumbo')
  
%script{:src => "/assets/wysihtml5/js/wysihtml5-0.3.0.js"}
%script{:src => "/assets/bootstrap/js/jquery.js"}
%script{:src => "/assets/bootstrap/js/google-code-prettify/prettify.js"}
%script{:src => "/assets/bootstrap/js/bootstrap.min.js"}
%script{:src => "/assets/bootstrap-wysihtml5/js/bootstrap-wysihtml5.js"}

:javascript
  $('.textarea').wysihtml5();
%script{:charset => "utf-8", :type => "text/javascript"}
  $(prettyPrint);

