
%li
  - if current_user?(authorisation.user)
    %span.content
      = authorisation.provider.capitalize
      = link_to 'delete', authorisation, method: :delete, data: { confirm: 'You sure?' }, title: authorisation.provider
