%h1 Authorisations#new

%p connect with following providers:

%li
  %a{ href: "/auth/facebook" } Facebook
%li
  %a{ href: "/auth/linkedin" } LinkedIN
%li
  %a{ href: "/auth/twitter" } Twitter
%li
  %a{ href: "/auth/vkontakte" } VKontakte
