%h1 Authorisations

%p Connected providers:

- if current_user.authorisations.any?
  %ol.authorisations
    = render current_user.authorisations
  


%p Connect with following providers:

%li
  %a{ href: "/auth/facebook" } Facebook
%li
  %a{ href: "/auth/linkedin" } LinkedIN
%li
  %a{ href: "/auth/tumblr" } Tumblr
%li
  %a{ href: "/auth/twitter" } Twitter
%li
  %a{ href: "/auth/vkontakte" } VKontakte
