!!!
%html
  %head
    %meta{charset: "utf-8"}/
    
    :javascript
      setTimeout(
        function()
        {
          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.src = 'http://vkontakte.ru/js/api/openapi.js';
          document.getElementsByTagName('head')[0].appendChild(script);
        }, 0);
      
    %title sending a message to "vkontakte"
    
  %body
  
    #login_button{onclick: "VK.Auth.login(authInfo);"}
    
    #vk_api_transport
    
    :javascript
      window.vkAsyncInit = function() {
        
        VK.init({
          apiId: 3756304
        });
        
        VK.Auth.getLoginStatus(authInfo);
        VK.UI.button('login_button');
        
        //VK.api('wall.post', {message: 'mesage'}, function(r) { alert(r); })
        
        VK.Api.call('users.get', {uids: 6492},
         function(r) {
          if(r.response) {alert('Привет, ' + r.response[0].first_name);} }
        );
        
        //VK.Api.call('wall.post', {message: 'mesage'},
        // function(r) {
        //  if(r.response) {alert('Привет, ' + r.response[0].first_name);} }
        //);
        
      };
    
      setTimeout(function() {
        var el = document.createElement("script");
        el.type = "text/javascript";
        el.src = "http://vk.com/js/api/openapi.js";
        el.async = true;
        document.getElementById("vk_api_transport").appendChild(el);
      }, 0);
      
    :javascript
    
      function authInfo(response)
      {
        if (response.session)
        {
          alert('user: '+response.session.mid);
        }
        else
        {
          alert('not auth');
        }
      }
    %p by the way
